:root {
  --red: #d01c28;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  height: 72px;
}

ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

button {
  all: unset;
  background-color: var(--red);
  color: white;
  padding: 6px 16px;
  height: 32px;
  font-weight: 500;
}

ul li:hover {
  cursor: pointer;
}
